<h1>Create an account<span class="home-button"><%= link_to 'Back to Listings', root_path, class: "btn btn-default pull-right" %></span>
</h1>

<%= form_for(@user) do |f| %>
 <%= render 'shared/error_messages' %>
  <form class="form-horizontal" role="form">
  
    <div class="form-group">  
      <%= f.label :email, class: "col-sm-2 control-label"  %>
      <div class="col-sm-10">
        <%= f.text_field :email, class: "form-control", placeholder: "Email" %></br>
      </div>
    </div>

    <div class="form-group">  
      <%= f.label :password, class: "col-sm-2 control-label"  %>
      <div class="col-sm-10">
        <%= f.password_field :password, class: "form-control", placeholder: "Password" %></br>
      </div>
    </div>

    <div class="form-group">  
      <%= f.label :password_confirmation, class: "col-sm-2 control-label"  %>
      <div class="col-sm-10">
        <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Password Confirmation" %></br>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit "Sign in", class: "btn btn-large btn-primary" %></br></br></br>
      </div>
    </div>
  </form>
<% end %>

<%= link_to "Already have an account?", new_session_path, class: "btn btn-large btn-success sign-in-button" %>
