<div class="top-nav">
  <%= render 'layouts/sign_up_in' %>
  <%= render 'layouts/job_field_nav' %>
</div>

<section>
  <%= render 'layouts/job_type_nav' %>
  <%= render 'layouts/posting' %>
  <%= render 'layouts/paginate' %>
</section>

<aside>
  <div class="post-job">
    <%= render 'layouts/post_a_job' %>
  </div>

  <div class="about-us">
    <%= render 'layouts/about_us' %>
  </div>

  <div class="popular-catagories">
    <%= render 'layouts/pop_catagories' %>
  </div>
  <div class="popular-tags">
    <%= render 'layouts/pop_tags' %>
  </div>
</aside>

<footer>
  <%= render 'layouts/footer' %>
</footer>


