<div class="posting-header">
	<h2><%= @posting.title %><small> <%= @posting.company %></small></h2>
</div>
<div class="posting-sub-header">
	<p>This is a <b><%= @posting.job_type %></b> position in <b><%= @posting.location %></b> posted on <b><%= @posting.created_at.strftime("%b %d") %></b></p>
</div>
