<div class="dashboard-container">
	<h3>Dashboard for <%= current_user.email %></h3>
	<div class="button-group">
		<%= link_to "Log out", signout_path, method: "delete", class: "btn btn-danger" %>
		<%= link_to "Post a Job", new_my_posting_path, class: "btn btn-success" %>
		<%= link_to "All Listings", root_path, class: "btn btn-warning" %>
	</div>
</div>

<% @postings.each do |posting| %>
	<div class="user-page-listings">
		<div class="posting-one">
			<p class="job-title">
				<%= link_to posting.title, posting_path(posting) %></br>
				<span id="company"><%= posting.company %></span>
			</p>
	  </div>
	  <div class="posting-two">
			<p>
				<span id="city"><%= posting.location %></span></br>
				<span id="type-of-job"><%= posting.job_type %></span></p>
		</div>
		<div class="posting-three">
			<p class="date-posted"><%= posting.created_at.strftime("%b %d") %></p>
	  </div>
	  <div class="actions">
	  	<%= link_to "Edit", edit_my_posting_path(posting), class: "btn btn-info btn-sm" %>
	  	<%= link_to "Delete", my_posting_path(posting), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
	  </div>
	  <div class="tags">
		  <p>Tags: <%= raw posting.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>	  
		</div></br>
	</div>
<% end %>
