<div class="job-descriptions">
  <ul class="job-description">
    <li><%= link_to "All Jobs", '#' %></li>
    <li><%= link_to "Account Management", '#' %></li>
    <li><%= link_to "Business Development", '#' %></li>
    <li><%= link_to "Client Services", '#' %></li>
    <li><%= link_to "Communications", '#' %></li>
    <li><%= link_to "Customer Service", '#' %></li>
    <li><%= link_to "Design", '#' %></li>
  </ul>
</div>
