<div class="job-fields">
	<ul class="nav navbar-nav job-field">
	  <li><%= link_to "All Jobs", '#' %></li>
	  <li><%= link_to "Account Management", '#' %></li>
	  <li><%= link_to "Client Services", '#' %></li>
	  <li><%= link_to "Communications",  '#' %></li>
	  <li><%= link_to "Customer",  '#' %></li>
	  <li><%= link_to "Design",  '#' %></li>
	</ul>
</div>
